.logo-imagen {
    max-height: 80px;
}

.navbar {
    background-color: #2C3E50;
    font-family: "Montserrat";
    text-transform: uppercase;
    font-weight: bold;
}

.nav-link {
    color: white;
}

header {
    padding-top: 2em;
    padding-bottom: 3rem;
    background: #F73859;
}

header .titulo-header {
    font-size: 2.75rem;
    line-height: 2.75rem;
    text-transform: uppercase;
    color: white;
}

header .subtitulo-header {
    font-size: 1.25rem;
    color: white;
}

.avatar {
    border-radius: 50%;
    width: 15rem;
    margin: 30px;
}

.titulo-seccion {
    font-size: 2.75rem;
    line-height: 2.75rem;
    text-transform: uppercase;
    color: #2C3E50;
    margin-top: 50px;
}

.btn-descarga {
    background: #F73859;
    color: white;
}

.tecnologia-img {
    width: 30px;
    height: 30px;
}

.wollok-img {
    height: 30px;
}

.img-modal {
    max-height: 200px;
}

.icono {
    padding: 20px;
}

.divider-custom {
    margin: 1.25rem 0 1.5rem;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.divider-custom .divider-custom-line {
    width: 100%;
    max-width: 7rem;
    height: 0.25rem;
    background-color: #2c3e50;
    border-radius: 1rem;
    border-color: #2c3e50 !important;
}

.divider-custom .divider-custom-line:first-child {
    margin-right: 1rem;
}

.divider-custom .divider-custom-line:last-child {
    margin-left: 1rem;
}

.divider-custom .divider-custom-icon {
    color: #2c3e50 !important;
    font-size: 2rem;
}

.divider-custom.divider-light .divider-custom-line {
    background-color: #fff;
}

.divider-custom.divider-light .divider-custom-icon {
    color: #fff !important;
}

.portfolio .portfolio-item {
    cursor: pointer;
    position: relative;
    display: block;
    max-width: 25rem;
    height: 200px;
    border-radius: 0.5rem;
    overflow: hidden;
    padding: 5px;
}

.portfolio .img-proyecto {
    max-height: 200px;
}

.portfolio .portfolio-item .portfolio-item-caption {
    position: absolute;
    top: 0;
    left: 0;
    transition: all 0.2s ease-in-out;
    opacity: 0;
    background-color: #F73859;
}

.portfolio .portfolio-item .portfolio-item-caption:hover {
    opacity: 1;
}

.portfolio .portfolio-item .portfolio-item-caption .portfolio-item-caption-content {
    font-size: 1.5rem;
}

.portfolio-modal .portfolio-modal-title {
    font-size: 2.25rem;
    line-height: 2rem;
    color: #F73859;
}

.portfolio-modal .close {
    position: absolute;
    z-index: 1;
    right: 1.5rem;
    top: 1rem;
    font-size: 3rem;
    line-height: 3rem;
    color: #2c3e50;
    opacity: 1;
    background: none;
    border: none;
}


/* modal */

.footer {
    padding-top: 5rem;
    padding-bottom: 5rem;
    background-color: #2c3e50;
    color: #fff;
}

.copyright {
    background-color: #1a252f;
}